#legend {
    /* background-color: pink; */
    width: 1000px;
    height: 70px;
    transform: rotate(90deg);
    margin-left: -450px;
    margin-top: 400px;
    margin-right: -2000px;
}
.y_axis text {
    fill: white;
}

.y_axis path,
.y_axis line {
    stroke: white;
}

.col-2 {
    width: 10px;
}
