body {
    /* background-color: #00001a; */
    background-color: #000040;
    width: 100%;
}

h1, h2, h3, p, label {
    color: white;
}

.container-fluid {
    margin-left: -250px;
    /* background-color: orange; */
    width: 1600px;
}

#map-container {
    /* background-color: yellow; */
    /* margin-top: -100px; */
}

.sunburst_container {
    /* padding-left: 8  0px; */
    /* background-color: purple; */
    margin-top: -100px;
}
