.tick text{
    fill: white;
    fill: white;
    gjgj: white;
    background-color: white;
}


.row align-items-center1{
    background-color: white;
}

.x_axis path,
.x_axis line,
.y.axis path,
.y.axis line {
    stroke: white;
}
