{% extends "base.html" %}
{% block title %}Map{% endblock %}
{% block body %}




<script type="text/javascript">
	d3.selectAll(".nav-item").classed("active", false);
	d3.select("#nav-link-map").classed("active", true);
</script>


<!-- Bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script type="text/javascript">
	var data = {{ data |safe }};
</script>




<div class="container-fluid">
	<!-- This is the old slider div container I think.. -->
	<div class="row align-items-center">
		<div class="col-sm-2">
			<p id="value-range"></p>
		</div>
		<div class="col-sm">
			<div id="slider-range"></div>
		</div>
	</div>

	<div class="row align-items-center">
		<div class="col-xl">
			<div id="map-container"></div>
		</div>
		<div class="col-xl">
			<div class="sunburst_container">
			    <svg class="sunburst"></svg>
			</div>
		</div>
	</div>

	<!-- Slider div -->
    <div class="section">

        <div id="container"></div>
        <div id="range-label"></div>

    </div>
</div>





<!-- Sunburst scripts -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script type="text/javascript" src="../static/js/sunburst.js"></script>

<!-- Map scrips -->
<script src="https://d3js.org/d3.v3.min.js"></script>

<link rel="stylesheet" type="text/css" href="../static/css/map.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="//datamaps.github.io/scripts/datamaps.world.min.js?v=1"></script>
<script type="text/javascript" src="../static/js/map.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Slider scripts -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../static/js/slider.js"></script>
<link href="../static/css/slider.css" rel="stylesheet">


<!-- Add slider to div container -->
<script type="text/javascript">

	var slider = create_slider(1500, 2000, "#container", true);  // 1500-200 is slider range

	slider.onChange(function(newRange){
		d3.select("#range-label").html(newRange.begin + " &mdash; " + newRange.end);
		console.log(newRange.begin, newRange.end) // Returned values from selected area in slider
	});

	slider.range(1500,1510); // Initial slider position
</script>




{% endblock %}
