{% extends "base.html" %}
{% block title %}Map{% endblock %}
{% block body %}
<script type="text/javascript">
	d3.selectAll(".nav-item").classed("active", false);
	d3.select("#nav-link-map").classed("active", true);
</script>

<!-- D3 scripts -->
<script src="https://d3js.org/d3.v3.min.js"></script>


<!-- Bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- Map scrips -->
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="//datamaps.github.io/scripts/datamaps.world.min.js?v=1"></script>

<script type="text/javascript">
	var data = {{ data |safe }};
	var countries = {{ countries |safe}};
</script>


<div class="container-fluid">
	<div class="row align-items-center">
		<div class="col">
			<div class="section">
				<div id ="world_dist"></div>
				<div id="container"></div>
				<div id="range-label"></div>
   			 </div>
		</div>
		<div class="col">
			<div class="line_container">
				<p id="line_title"></p>
				<svg class="line"></svg>
			</div>
		</div>
	</div>
	<div class="row align-items-center">
		<form id="colorform">
			<input hidden type="checkbox" id="red" name="color" value="red">
			<input hidden type="checkbox" id="pink" name="color" value="pink">
			<input hidden type="checkbox" id="orange" name="color" value="orange">
			<input hidden type="checkbox" id="yellow" name="color" value="yellow">
			<input hidden type="checkbox" id="purple" name="color" value="purple">
			<input hidden type="checkbox" id="green" name="color" value="green">
			<input hidden type="checkbox" id="blue" name="color" value="blue">				<br>
			<input hidden type="checkbox" id="brown" name="color" value="brown">
			<input hidden type="checkbox" id="white" name="color" value="white">
			<input hidden type="checkbox" id="gray" name="color" value="gray">
			<input hidden type="checkbox" id="none" name="color" value="none">
		</form>
		<div class="col-4">
			<div class="sunburst_container">
			    <svg class="sunburst"></svg>
			</div>
		</div>
		<div class="col-7">
			<div id="map-container"></div>
		</div>
		<div class="col-1">
			<div id="legend"></div>
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col">
			<div class="line_container">
				<h3 id="line_title"></h3>
				<svg class="line"></svg>
			</div>
		</div>
	</div>

		<!-- Slider div -->

<!--	<div class="row align-item-center">-->
<!--		<div class="col">-->
<!--			<div class="play_slider_container">-->
<!--				<svg class ="play_slider"></svg>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
</div>


<link rel="stylesheet" type="text/css" href="../static/css/map.css">
<script type="text/javascript" src="../static/js/map.js"></script>



<!-- Line graph -->
<script src="https://d3js.org/d3.v3.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/line.css">
<script type="text/javascript" src="../static/js/line.js"></script>


<!-- Legend -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://unpkg.com/d3-simple-slider"></script>
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/legend.css">
<script type="text/javascript" src="../static/js/legend.js"></script>


<!-- Sunburst -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script type="text/javascript" src="../static/js/sunburst.js"></script>


<!-- Slider with play button -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="../static/css/play_slider.css">
<script type="text/javascript" src="../static/js/play_slider.js"></script>

<!--world distribution aka the plot above the slider-->
<script src="https://d3js.org/d3.v4.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/world_distribution.css">
<script type="text/javascript" src="../static/js/world_distribution.js"></script>


<!-- <script>
</script> -->

<!-- <script type="text/javascript" src="../static/js/barchart.js"></script> -->

{% endblock %}
